body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(/images/background-image.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    text-align: center;
    color: white;
    padding: auto;
    margin: 10px;
}

.header h1{
    font-weight: bold;
    font-size: clamp(1.2rem, 10vw, 5rem);
    font-kerning: auto;
    font-family: 'Lucida Sans', cursive;
    margin-top: -2%;
}
.brand_icon {
    width: 10%; 
    max-width: 80px;
}
.container{
    background: rgb(247, 254, 247, 0.8);
    text-align: center;
    font-family: 'Lucida Sans', cursive;
    padding: 2%;
    padding-right: 5%;
    padding-left: 5%;
    width:max-content;
    margin: auto;
    margin-top: 0%;
    font-size: clamp(1.5rem, 4vw, 2rem);
}

.container p{
    font-size: clamp(0.6rem, 1.5vw, 3rem);;
}
.icons{
    width: 5%;
    max-width: 50px;
    margin: 6px;
}

form {
    /* font-size: clamp(1.5rem, 4vw, 2rem); */
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.sign-in-button {
    background-color:rgb(69, 216, 218);
    border:rgba(255, 255, 255, 0);
    color:rgb(255, 255, 255);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration:solid;
    display: inline-block;
    font-family: 'Lucida Sans', cursive;;
    font-size: clamp(0.2rem, 3vw, 2rem);;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10%;
  }

  .footer{
    /* position: absolute;
    width: 100%;
    bottom: 0; */
    /* max-height: 6vh; */
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: clamp(0.2rem, 1vw, 3rem);
}